@using TerrariumServer.Models

@model UserStatsViewModel
@{
    ViewBag.Title = "UsageStats";
}

<h2>Usage Statistics</h2>
<div>
    <h3>Usage Summary</h3>
    Below are the statistics for you.<br />
    <div class="heading">Your Statistics(@Model.UserAlias)</div>
    <div class="userStats">
        <span class="inlineTitle">Today's hours</span>
        <span class="inlineValue">@Model.TodaysHours hours</span>
        <span class="inlineTitle">This Week's Hours</span>
        <span class="inlineValue">@Model.WeekHours hours</span>
        <span class="inlineTitle">Total Hours</span>
        <span class="inlineValue">@Model.TotalHours hours</span>
    </div>
</div>
<div>
    <h3>Top 10 Participants</h3>
    <span class="individual-period">Period @Html.DropDownList("Period", Model.IndividualPeriod)</span>
    <div>These are the top 10 participants based on total hours that they have run Terrarium.  Use the dropdown list to choose which period to view.</div>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Alias</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Participant participant in Model.Participants)
            {
                <tr>
                    <td>@participant.Rank</td>
                    <td>@participant.Alias</td>
                    <td>@participant.Hours</td>
                </tr>
            }
        </tbody>
    </table>
</div>
